# FTP Credentials für Ionos Deployment
# WICHTIG: Kopiere diese Datei zu ".ftp-credentials" und fülle deine echten Daten ein!
# Die Datei ".ftp-credentials" ist in .gitignore und wird NICHT ins Git committed!

FTP_HOST=home13500050.1and1-data.host
FTP_USER=p4509868
FTP_PASS=DEIN_PASSWORT_HIER
FTP_PORT=21
FTP_TARGET_DIR=/
